<h1 class="text-center">Productos</h1>
<div class="entry">
{{#if productos}}
<div class="  m-5 p-1 border border-dark rounded">
<table class="  table table-resposive table-info">
    <thead  class="thead-dark">
        <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Stock</th>
        <th scope="col">Imagen</th>
        </tr>
    </thead>
    <tbody>
      </div>
        {{#each productos}}
            <tr class="">
                <th scope="row">{{ this.id }}</th>
                <td>{{ this.titulo }}</td>
                <td>{{ this.precio }}</td>
                <td>{{ this.stock }}</td>
                <td><img src="{{ this.thumbnail }}" width="50"></td>
            </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
    <br>
    <h3> No hay ningún producto agregado. </h3>
{{/if}}
</div>